version: '3.8'
services:
  web-dev:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    ports:
      - '3000:3000'
    volumes:
      # bind mount (for hot reloading)
      - .:/usr/app
      # anonymous volume for node_modules
      - /usr/app/node_modules/
  web-prod:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    ports:
      - '8080:80'
