@font-face {
  font-family: 'Roboto';
  src: url('~@/public/assets/fonts/Roboto-Regular.ttf');
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
