@import 'generic.scss';
@import 'components.scss';
@import 'containers.scss';

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  padding-right: 8px;
  width: calc(100vw - 1rem);
  max-width: 1170px;
  text-align: center;
}
